    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom border-top">
      <div class="container-fluid">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" style="margin-left: 7px;margin-right: 11px;" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
        <a class="navbar-brand fs-2 fw-bold " href="#"><span class="textBlur">coffe-cafe</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0  text-center ">
            <li class="nav-item">
              <a class="nav-link fw-semibold text-uppercase text-black  me-1" href="#">Contact us</a>
            </li>
            <li class="nav-item " >
              <a   class="nav-link cart fw-semibold text-uppercase text-black  me-1" (click)="ShowCart()" 
                id="navbarDropdown" role="button" >
                <i class="fa fa-cart-shopping fs-5" style="color: #202122;"></i>
                <span class="position-absolute  translate-middle badge rounded-pill bg-danger">
                 {{cartcount}}
                </span>
              </a>
            </li> 
            <li class="nav-item">
              <img src="../../assets/images/dummy-profile-pic.jpg" style="border-radius: 40%;" height="40" width="40" alt="">
            </li>
          </ul> 
        </div>
      </div>
    </nav>
